@using WordCounter.Models;

<h1>Word Counter</h1>
<ul>

@if (Model.Count == 0)
{
  <p>There is nothing to see here, move along!</p>
}
@if (Model.Count != 0)
{
  @foreach (Counter item in Model)
  {
    <li>@item.GetWord() @item.GetSentence() @item.GetNumber()</li>
  }
}

</ul>

<a href="/items/new">Try a new word</a>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear this nonsense</button>
</form>
